<h3>Editing Review on <%= @movie.title %></h3>

<%= render 'shared/errors', object: @review %>
<%= form_for([@movie, @review]) do |f| %>
	<div class = "form-group">
		<%= f.label :name %>
		<%= f.text_field :name, class: 'form-control' %>
	</div>
	<div class = "form-group">
		<%= f.label :stars %>         
  		<% Review::STARS.each do |star| %>
        <%= f.radio_button :stars, star %> <%= star %>
  	   <% end %>
	</div>
	<div class = "form-group">
		<%= f.label :comment %>
		<%= f.text_area :comment, rows: 4, placeholder: 'What did you think?', class: 'form-control' %>
	</div>
<%= f.submit 'Edit Review', class: 'btn btn-primary' %>
<% end %>
